.card {
    margin: 0 auto;
    background-image: linear-gradient(black, white);

    .header {
        height: 150px; // 20vh;

        .avatar {
            width: 160px; //40vw
            height: 160px;
            position: relative;
            margin: 0 auto;

            img {
                margin-top: 10px;
                display: block;
                border-radius: 50%;
                position: absolute;
                //bottom: calc(-1*(80px + 4px)); // -42px;
                border: 8px solid #2f302d;
                background-color: #fff;
            }
        }
    }
}

.card-body {
    background-color: #ffffff;
    padding: 30px;
    height: calc(100vh - (200px + 56px));
    overflow: hidden;

    .user-meta {
        padding-top: 40px;

        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }

        .country {
            font-size: 90%;
            color: #949ea6;
            text-transform: uppercase;
            margin: 0 auto;
        }
    }
}