<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content routerLink="/bar-chart">
      View Bar Chart
    </ion-card-content>
  </ion-card>
  
  <!-- Render the chart component directly -->
  <app-bar-chart-component></app-bar-chart-component>
  <app-pie-chart-component></app-pie-chart-component>
  <app-line-chart-component></app-line-chart-component>
</ion-content>

