<!-- New and Edit event form-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
    <ion-title>{{editEvent ? 'Edit' : 'New Event'}} CPD Event</ion-title>
   
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">

  
  <form #f = "ngForm" (ngSubmit)="onSubmit(f)">
    <ion-item>
      <ion-label position = "floating">Title</ion-label>
      <ion-input autofocus= true autocorrect="on" required clear-input=true [(ngModel)] = "uploadEvent.title" name = "title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position = "floating">Description </ion-label>
      <ion-input required=true [(ngModel)]="uploadEvent.description" name = "description"></ion-input>
    </ion-item>
    
    
    
    <ion-item>
      <ion-label position = "floating">Event Organisers</ion-label>
      <ion-input required=true [(ngModel)]="uploadEvent.eventOrganisers" name = "eventOrganisers"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position = "floating">CPD Points</ion-label>
      <ion-input required=true [(ngModel)]="uploadEvent.CPDPoints" name = "CPDPoints"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position = "floating">Categotory</ion-label>
      <ion-input required=true [(ngModel)]="uploadEvent.compentancyCat" name = "compentancyCat"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position = "floating">Reflective Notes</ion-label>
      <!--<ion-input required=true [(ngModel)]="uploadEvent.reflection" name = "reflection"></ion-input>-->
      <ion-textarea maxlength="2000"   [(ngModel)]="uploadEvent.reflection" autocapitalize="sentences" errorText="check" helperText="Looks good!" required="true"  rows="1" spellcheck="true" placeholder="Thinking about follwing criteria: " autoGrow="true"  [counter]="true"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position = "floating">Learning Plan</ion-label>
      <!--<ion-input required=true [(ngModel)]="uploadEvent.learningPlan" name = "learningPlan"></ion-input>-->
      <ion-textarea maxlength="2000"   [(ngModel)]="uploadEvent.learningPlan" autocapitalize="sentences" errorText="check" helperText="Looks good!" required="true"  rows="1" spellcheck="true" placeholder="Think about A B C...." autoGrow="true"  [counter]="true"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position = "floating">Upload Certifcate</ion-label>
      <ion-input required=true [(ngModel)]="uploadEvent.certificate" name = "certificate"></ion-input>
    </ion-item>

    <!--Hoiurs, start and end dates-->
    <ion-item>
      <ion-label position = "floating">Hours</ion-label>
      <ion-input required=true [(ngModel)]="uploadEvent.hours" name = "hours"></ion-input>
    </ion-item>
    
    <ion-list>
      <ion-accordion-group >
        <ion-accordion #myAccordion value="start">
          <ion-item slot="header">
            <ion-label>Start Date</ion-label>
            <ion-note slot="end" id="datetimeValue">{{selectedDate | date: 'dd/MM/yyyy'}}</ion-note>
          </ion-item>
          <ion-datetime
            id="datetime"
            displayFormat="dd/MM/yyyy"
            slot="content"
            presentation="date"
            min="01-01-1980"
            max="31-01-2100"
            
            [(ngModel)]="selectedDate"
            name="selectedDate"
           
          ></ion-datetime>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
    
    
      <!--<ion-input required=true [(ngModel)]="uploadEvent.startdate" name = "startdate"></ion-input>-->
    
    <!--End Date Pciker-->
    <ion-list>
      <ion-accordion-group >
        <ion-accordion #myAccordion value="start">
          <ion-item slot="header">
            <ion-label>End Date</ion-label>
            <ion-note slot="end" id="datetimeValue">{{selectedEndDate | date: 'dd/MM/yyyy'}}</ion-note>
          </ion-item>
          <ion-datetime
            id="datetime"
            displayFormat="dd/MM/yyyy"
            slot="content"
            presentation="date"
            min="01-01-1980"
            max="31-01-2100"
            
            [(ngModel)]="selectedEndDate"
            name="selectedEndDate"
           
          ></ion-datetime>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
    <ion-button class="ion-margin-top" fill="outline" expand="block"
    color="primary" type="submit">{{editEvent ? 'Update' : 'ADD'}}</ion-button>
      </form>

  </ion-content>
  